* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    background: transparent;
    font-family: inherit;
}

a {
    text-decoration: none;
}

a img {
    border: none;
}

button,
a {
    cursor: pointer;
    color: inherit;
}

textarea {
    resize: none;
}

button,
textarea,
select {
    appearance: none !important;
    border-radius: 0;
}

/* CSS Reset Ends */

#root {
    width: 100%;
    height: auto;
    background-color: #f8f7f3;
}

#root .headerContainer {
    position: sticky;
    top: 0;;
    width: 100%;
    height: 40px;
    background-color: #1a24fb;
    z-index: 1;
}

#root .headerContainer .header {
    max-width: 1400px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    margin: 0 auto;
    color: #f8f7f3;
}

#root .headerContainer .header h3 {
    font-family: 'Overpass', sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.2em;
}

#root .headerContainer .header span {
    font-size: 24px;
    cursor: pointer;
}

#root .cardContainer {
    max-width: 1280px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 100px 20px;
    padding: 50px;
    margin: 0 auto;
    color: #1a24fb;
    font-family: 'Montserrat', sans-serif;
}

#root .cardContainer .card .cardDetails {
    position: relative;
    width: 350px;
    height: 450px;
    padding: 40px;
    border: 2px solid #1a24fb;
}

#root .cardContainer .card .cardDetails span {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    padding: 5px 10px;
    font-size: 24px;
    font-weight: 700;
}

#root .cardContainer .card .cardDetails h4 {
    margin-bottom: 10px;
    font-family: 'Overpass', sans-serif;
    font-size: 12px;
    letter-spacing: 0.2em;
    font-weight: 400;
}

#root .cardContainer .card .cardDetails h2 {
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: 700;
}

#root .cardContainer .card .cardDetails p {
    font-size: 16px;
    font-weight: 400;
}

#root .cardContainer .card .readMore {
    width: 100%;
    height: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
    cursor: pointer;
}

#root .cardContainer .card .readMore:hover {
    background-color: #1a24fb;
    color: #f8f7f3;
}

#root .cardContainer .card .readMore button {
    font-size: 14px;
}

#root .cardContainer .card .readMore span {
    font-size: 18px;
}